.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #333;
  padding: 40px;
}

.footer_icons {
  color: grey;
  cursor: pointer;
}

.footer_icons:hover {
  color: #63c2c7;
}

.drawer {
  height: 100%;
  background-color: #174c4f;
  color: white;
}

.pageBody {
  margin-left: 250px;
  margin-top: 6%;
  margin-right: 1%;
}

.nav-text {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 25px;
}

.nav-text:hover {
  color: #63c2c7;
}

.nav-text:active {
  color: #63c2c7;
}

.drawer_icon {
  color: white;
}

.drawer_icon:hover {
  color: #63c2c7;
}



.drawer_icon{
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  width: 100px;
}

.btn{
  background-color:#63C2C7;
  border: 3px solid #174C4F;
  border-radius: 5px;
  color:#174C4F;
  height: 40px;
}


.btn:hover {

  background-color: #174C4F;

  color:white;

}

.title{
  color: #174C4F;
  font-weight: bolder;
  font-size: 220%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.form1{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  border: 2px solid #333;
  border-radius: 10px;
}

.carousel1 {
  height:250px;
  margin: auto;
  width: 350px;
}

.btn-del{
  background-color: rgb(245, 41, 41);
  color: white;
  border: 3px solid #174C4F;
  border-radius: 5px;
  padding: 6px;
  width: 100px;
}

.pageBody {
  margin-left: 250px;
  margin-top: 6%;
  margin-right: 1%;
}
.btn{
  background-color:#63C2C7;
  border: 3px solid #174C4F;
  border-radius: 5px;
  color:#174C4F;
  height: 40px;
}

.btn:hover {
  background-color: #174C4F;
  color:white;
}

.login_container {
	width: 100%;
	min-height: 85vh;
	background-image: url("https://images.pexels.com/photos/325876/pexels-photo-325876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	display: flex;
	align-items: center;
	justify-content: center;
  background-size: cover;
}

.login_form_container {
	width: 750px;
	height: 400px;
	display: flex;
	border-radius: 15px;
	box-shadow: 5px 5px 5px
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #174c4ff8;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 30px;
  color: white;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #fbfbfbde;
	margin: 5px 0;
	font-size: 16px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.green_btn {
	border: none;
	outline: none;
	padding: 10px 0;
	border-radius: 20px;
	width: 150px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
  background-color: #63C2C7;
	color: black;
	margin: 10px;
}

.logout_btn{
   background-color: #174C4F;
  color:white;
  border: 3px solid #174C4F;
  border-radius: 5px;
  height: 40px;
}

.logout_btn:hover{
  border-color: #63C2C7;
}

