.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
    background-color: #333;
    padding: 40px;
  }

.footer_icons{
  color: grey;
  cursor: pointer;
}

.footer_icons:hover{
  color: #63C2C7
;
}

.drawer{
  height: 100%;
  background-color: #174C4F;
  color: white;
}

.pageBody{
  margin-left: 18%;
  margin-top: 6%;
  margin-right: 3%;
}

.nav-text {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 25px;
}

.nav-text:hover{
  color: #63C2C7;
}

.nav-text:active{
  color: #63C2C7;
}

.drawer_icon{
  color: white;
}

.drawer_icon:hover{
  color: #63C2C7;
}

.title{
  color: #174C4F;
  font-weight: bolder;
  font-size: 220%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.form1{
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  border: 2px solid #333;
  border-radius: 10px;
}

.carousel1 {
  height:250px;
  margin: auto;
  width: 350px;
}

.btn-del{
  background-color: rgb(245, 41, 41);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px;
  width: 100px;
}

.btn{
  background-color:#63C2C7;
  color:white;
}

.btn:hover {
  background-color: #174C4F;
  color:white;
}
